node_modules
dist
out
*.log*
aiken-test/test/.gitignore
aiken-test/test/aiken.lock
aiken-test/test/aiken.toml
aiken-test/test/plutus.json
aiken-test/test/README.md
aiken-test/test/lucid/generate-credentials.ts
aiken-test/test/lucid/hello_word-lock.ts
aiken-test/test/lucid/key.addr
aiken-test/test/lucid/key.sk
aiken-test/test/lucid/.vscode/settings.json
aiken-test/test/validators/hello_world.ak
aiken-test/test/validators/test_validator.ak
nodegit-test/main.js
nodegit-test/package-lock.json
nodegit-test/package.json
**/nodegit-test
nodegit-test/repo
nodegit-test/repo2
